<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author</title>
</head>
<body>

<div>
    <a href="/">TOP</a> > 著者
</div>

<h1>著者</h1>

<p>[[${author.name}]]</p>

<h2>この著者の書籍</h2>

<p>[[${pagingInfo.total}]] 件</p>

<ul>
    <li th:each="book : ${books}">
        <a th:href="'/book/' + ${book.id}">
            [[${book.title}]]
        </a>
    </li>
</ul>

<div>
    <a th:if="${pagingInfo.hasPrevPage}"> < </a>
    [[${pagingInfo.currentPage + 1}]] / [[${pagingInfo.pageLength}]]
    <a th:if="${pagingInfo.hasNextPage}"> > </a>
</div>

</body>
</html>
