<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>書籍著者の編集</title>
</head>
<body>

<div>
    <a href="/">TOP</a>
    > <a th:href="|/book/${book.id}|">書籍</a>
    > 著者の編集
</div>

[[${message}]]

<h1>著者</h1>

<h2>書籍タイトル</h2>

<a th:href="|/book/${book.id}|"> [[${book.title}]] </a>

<h2>著者</h2>

<div>
    <form method="post">
        <table>
            <tr th:each="author : ${authors}">
                <td>・</td>
                <td>
                    <a th:href="|/author/${author.id}|">[[${author.name}]]</a>
                    <button type="submit" th:formaction="|/book/${id}/editauthor|" name="removeAuthorId"
                            th:value="${author.id}">-
                    </button>
                </td>
            </tr>
        </table>
    </form>

</div>

<h2>検索して追加</h2>

<div>
    <form method="get">
        <input type="search" id="searchAuthor" name="searchAuthor" placeholder="田中 太郎..." th:value="${searchAuthor}">
        <button type="submit" th:formaction="|/book/${id}/editauthor|">検索</button>
    </form>
</div>

<div>
    <form method="post">
        <table>
            <tr th:each="author : ${findAuthors}">
                <td>・</td>
                <td>
                    <a th:href="|/author/${author.id}|">[[${author.name}]]</a>
                    <button type="submit" th:formaction="|/book/${id}/editauthor|" name="addAuthorId"
                            th:value="${author.id}">+
                    </button>
                </td>
            </tr>
        </table>
    </form>

</div>

<h2>新規作成して追加</h2>

<div>
    <form method="post">
        <label for="newAuthor">著者名:</label>
        <input type="text" id="newAuthorName" name="newAuthorName" placeholder="田中 太郎...">
        <button type="submit">追加</button>
    </form>
</div>

</body>
</html>
