<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<div>
    <a href="/">TOP</a>
    >
    <a href="/books/search">書籍の検索</a>
    >
    <a th:href="|/books/${book.id}|">書籍</a>
</div>

<h1>書籍</h1>

<h2>タイトル</h2>
<p>[[${book.title}]]</p>
<a th:href="|/books/${book.id}/edit|">タイトルを編集</a>

<h2>著者</h2>
<ul>
    <li th:each="author : ${authors}">
        <a th:href="|/authors/${author.id}|">
            [[${author.name}]]
        </a>
    </li>
</ul>
<a th:href="|/books/${book.id}/editauthor|">著者を編集</a>

</body>
</html>
