<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>書籍著者の編集</title>
</head>
<body>

<div>
    <a href="/">TOP</a>
    >
    <a href="/books/search">書籍の検索</a>
    >
    <a th:href="|/books/${book.id}|">書籍</a>
    >
    <a th:href="|/books/${book.id}/editauthor|">書籍著者の編集</a>
</div>

<h1>書籍著者の編集</h1>

<h2>書籍タイトル</h2>

<a th:href="|/books/${book.id}|"> [[${book.title}]] </a>

<h2>著者</h2>

「-」ボタンを押して著者を除去

<div>
    <form method="post">
        <table>
            <tr th:each="author : ${authors}">
                <td>・</td>
                <td>
                    <a th:href="|/authors/${author.id}|">[[${author.name}]]</a>
                    <button type="submit" th:formaction="|/books/${id}/editauthor|" name="removeAuthorId"
                            th:value="${author.id}">-
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>

<h2>検索して追加</h2>

入力欄へ検索し、著者の「+」ボタンを押して著者を追加

<div>
    <form method="get">
        <input type="search" id="searchAuthor" name="searchAuthor" placeholder="田中 太郎..." th:value="${searchAuthor}">
        <button type="submit" th:formaction="|/books/${id}/editauthor|">検索</button>
    </form>
</div>

<div>
    <form method="post">
        <table>
            <tr th:each="author : ${findAuthors}">
                <td>・</td>
                <td>
                    <a th:href="|/authors/${author.id}|">[[${author.name}]]</a>
                    <button type="submit" th:formaction="|/books/${id}/editauthor|" name="addAuthorId"
                            th:value="${author.id}">+
                    </button>
                </td>
            </tr>
        </table>
    </form>

    <div>
        <a th:if="${pagerInfo.hasPrevPage}"
           th:href="|/books/${id}/editauthor?size=${pagerInfo.pageSize}&page=${pagerInfo.currentPageNumber - 1}|"
        > < </a>

        [[${pagerInfo.currentPageNumber + 1}]] / [[${pagerInfo.totalPageCount}]]

        <a th:if="${pagerInfo.hasNextPage}"
           th:href="|/books/${id}/editauthor?size=${pagerInfo.pageSize}&page=${pagerInfo.currentPageNumber + 1}|"
        > > </a>
    </div>
</div>

<h2>新規作成して追加</h2>

<div>
    <form method="post">
        <label for="newAuthorName">著者名:</label>
        <input type="text" id="newAuthorName" name="newAuthorName" placeholder="田中 太郎...">
        <button type="submit">追加</button>
    </form>
</div>

</body>
</html>
