<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Author</title>
</head>
<body>

<div>
    <a href="/">TOP</a> > 著者
</div>

<h1>著者</h1>
<h2>名前</h2>
<p>[[${author.name}]]</p>
<a th:href="|/authors/${author.id}/edit|">名前を編集</a>

<h2>この著者の書籍</h2>
<p>[[${pagerInfo.totalDataCount}]] 件</p>
<ul>
    <li th:each="book : ${books}">
        <a th:href="|/books/${book.id}|">
            [[${book.title}]]
        </a>
    </li>
</ul>

<div>

    <a th:if="${pagerInfo.hasPrevPage}"
       th:href="|/authors/${author.id}?size=${pagerInfo.pageSize}&page=${pagerInfo.currentPageNumber - 1}|"
    > < </a>

    [[${pagerInfo.currentPageNumber + 1}]] / [[${pagerInfo.totalPageCount}]]

    <a th:if="${pagerInfo.hasNextPage}"
       th:href="|/authors/${author.id}?size=${pagerInfo.pageSize}&page=${pagerInfo.currentPageNumber + 1}|"
    > > </a>

</div>

</body>
</html>
