<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Simple Bookshelf</h1>
<div>
    <ul>
        <li><a href="/book/new">書籍の追加</a></li>
        <li><a>著者一覧</a></li>
    </ul>
</div>

<div>
    <h2>
        著者で検索
    </h2>

    <div>
        <form action="/" method="get">
            <input type="search" id="author" name="author" placeholder="著者名（e.g. John Doe）" th:value="${author}">
            <button type="submit">検索</button>
        </form>
    </div>

    <ul>
        <li th:each="author : ${authors}">
            <a th:href="'/author/' + ${author.id}">
                [[${author.name}]]
            </a>
        </li>
    </ul>
</div>

</body>
</html>
